<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="text-muted">PHONE:</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <label>{{number | phone}}</label>
    </div>
    <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 text-right">
        <label class="text-muted">{{displayType}}</label>
    </div>
</div>
<hr>