<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
        <img src="{{contact.smallImageURL}}" width="120px" height="120px" onError="this.onerror=null; this.src='../assets/UserLarge.png';">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 favorite-icon text-right">
        <img src="../assets/FavoriteTrue@2x.png" [hidden]="!contact.isFavorite">
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-8">
        <h3>{{contact.name}}</h3>
        <h4 class="text-muted">{{contact.companyName}}</h4>
    </div>
</div>