<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title text-center">
            <h3>
                <strong>Contacts</strong>
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="well">
            <h4>
                <strong>FAVORITE CONTACTS</strong>
            </h4>
        </div>
        <div *ngFor="let contact of contacts | favoritefilter: 'true' | sort: 'name'; let last = last;" class="contact-list-wrapper">
            <app-contact-line [contact]="contact" (click)="onContactClick(contact.id)"></app-contact-line>
            <hr *ngIf="!last">
            <div *ngIf="last" class="last-item"></div>
        </div>
        <div class="well">
            <h4>
                <strong>OTHER CONTACTS</strong>
            </h4>
        </div>
        <div *ngFor="let contact of contacts | favoritefilter: 'false' | sort: 'name'; let last = last;" class="contact-list-wrapper">
            <app-contact-line [contact]="contact" (click)="onContactClick(contact.id)"></app-contact-line>
            <hr *ngIf="!last">
            <div *ngIf="last" class="last-item"></div>
        </div>
    </div>
</div>