<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <a routerLink="/list">
                        <strong>
                            <h4>
                                < Contacts</h4>
                        </strong>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right" (click)="onFavorite()">
                    <img src="../assets/FavoriteTrue@2x.png" [hidden]="contact.isFavorite == false" class="favorite-sign">
                    <img src="../assets/FavoriteFalse@2x.png" [hidden]="contact.isFavorite == true" class="favorite-sign">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="profile">
            <div class="text-center">
                <img src="{{contact.largeImageURL}}" onError="this.onerror=null; this.src='../assets/UserLarge.png';">
                <h3>{{contact.name}}</h3>
                <h4 class="text-muted">{{contact.companyName}}</h4>
            </div>
            <hr>
            <app-phone-line [type]="0" [number]="contact.phone.home" *ngIf="contact.phone.home"></app-phone-line>
            <app-phone-line [type]="1" [number]="contact.phone.mobile" *ngIf="contact.phone.mobile"></app-phone-line>
            <app-phone-line [type]="2" [number]="contact.phone.work" *ngIf="contact.phone.work"></app-phone-line>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-muted">ADDRESS:</h4>
                </div>
                <div class="col-lg-12">
                    <label>{{contact.address.street}}</label>
                </div>
                <div class="col-lg-12">
                    <label>
                        {{contact.address.city}}, {{contact.address.state}} {{contact.address.zipCode}}, {{contact.address.country}}
                    </label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-muted">BIRTHDATE:</h4>
                </div>
                <div class="col-lg-12">
                    <label>{{contact.birthdate | date:'MMMM d, y'}}</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-muted">EMAIL:</h4>
                </div>
                <div class="col-lg-12">
                    <label>{{contact.emailAddress}}</label>
                </div>
            </div>
        </div>
    </div>
</div>