.panel-body {
    padding: 0;
}

app-contact-line, .favorite-sign {
    cursor: pointer;    
}

.contact-list-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.last-item {
    padding-bottom: 20px;
}

.favorite-icon {
    padding-top: 15px;
}

.panel {
    border-radius: 0;
}

a:hover {
    text-decoration: none;
}

.well {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeaea;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent;
}

.profile {
    padding-top: 10px;
    padding-left:10px;
    padding-right: 10px;
}